@import "../../styles/variables.scss";

.container {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
  }
}

.largeCardContainer {
  border: 1px solid $primary-color;
  padding: 3rem;
  border-radius: 12px;

  .content {
    background-color: $backgroundColorSecondary;
    padding: 3rem;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  h1 {
    margin: 1.5rem 0;
    width: 160px;
  }

  .details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
  }

  .detailsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    p {
      color: rgba(64, 64, 64, 0.6);
    }
  }

  button {
    width: 100%;
  }
}

.icons {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
