@import "../../styles/variables.scss";

.container {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background: url("../../images/bg_information.jpg");
  @media (max-width: 768px) {
    grid-template-columns: 1fr;
  }
}

.largeCardContainer {
  border: 1px solid;
  padding: 3rem;
  border-radius: 16px;
  background-color: #eddfc6;
  .content {
    background-color: $backgroundColorPrimary;
    padding: 3rem;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  h1 {
    margin: 1.5rem 0;
    width: 200px;
    color: $primary-color;
  }

  .details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
  }

  .detailsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 100%;
    p {
      color: rgba(64, 64, 64, 0.6);
      max-width: 17rem;
    }
  }

  button {
    width: 100%;
  }
}

.icons {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

@media screen and (max-width: 400px) {
  .detailsContainer {
    p {
      max-width: 14rem !important;
    }
  }
}
@media screen and (max-width: 430px) {
  .largeCardContainer {
    padding: 2rem;

    .content {
      padding: 1.5rem;
    }
  }
  .container {
    padding-left: 0rem !important;
    background: none;
  }
  .details {
    gap: 2.5rem !important;
  }
}
