@import "../../styles/mixin.scss";

.cardsContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.container {
  padding: 0 4rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

@include phone {
  .container {
    padding: 0 1rem;
  }
  .cardsContainer {
    grid-template-columns: 1fr;
  }
}
