@import "../../styles/mixin.scss";

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;

  h1 {
    padding-top: 1.5rem;
  }
}

.cardsContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  padding: 0 8rem;
}

.container {
  padding: 0 4rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

@include phone {
  .container {
    padding: 0 1rem;

    h2 {
      padding: 0 1rem;
    }
  }

  .cardsContainer {
    grid-template-columns: 1fr;
    padding: 0 2rem;
  }
}
