$phone-width: 450px;
$tablet-width: 1000px;
$laptop-width: 1440px;

@mixin phone {
  @media (max-width: #{$phone-width}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$phone-width + 1}) {
    @content;
  }
}

@mixin laptop {
  @media (min-width: #{$tablet-width + 1}) {
    @content;
  }
}
