// _variables.scss
$primary-color: #ae9674;
$secondary-color: #404040;
$thirdly-color: #beaa8e;
$backgroundColorPrimary: #fff;
$backgroundColorSecondary: #deebe4;
$font-stack: "Helvetica Neue", Helvetica, Arial, sans-serif;
