@import "../../../styles/mixin.scss";
@import "../../../styles/variables.scss";

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  h1 {
    font-size: 2rem;
    color: $primary-color !important;
  }
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.dressCode {
  img {
    width: 100%;
  }
}
