@import "../../styles/variables.scss";

.ribbon {
  padding: 0.5rem 1rem;
  background: $backgroundColorPrimary;
  clip-path: polygon(100% 0, 95% 50%, 100% 100%, 0% 100%, 5% 50%, 0% 0%);
  color: #767676;
  font-size: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 12rem;
}
