.ribbon {
  padding: 15px;
  height: 50px;
  background: #1a1c18;
  clip-path: polygon(100% 0, 95% 50%, 100% 100%, 0% 100%, 5% 50%, 0% 0%);
  font-family: "font_condensed";
  text-transform: uppercase;
  color: #dddeda;
  letter-spacing: 0.18em;
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  // width: 100%;
  // max-width: 600px;
}
