@import "../../styles/variables.scss";
@import "../../styles/mixin.scss";

.container {
  position: relative;
  background-color: #eadcc3;
  border-radius: 26px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;

  button {
    width: 100%;
  }
}

.decoratives {
  position: absolute;
  top: 0.5rem;
  left: 1rem;
  right: 1rem;
  display: flex;
  justify-content: space-between;
}

.header {
  min-height: 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
}

.subtitle {
  flex: 1;
}

.title {
  font-size: 1.5em;
  color: $primary-color !important;
  margin: 0;
}

.image {
  height: 100px;
  width: 100px;
  border: 1px solid red;
}
