@import "../../styles/variables.scss";
@import "../../styles/mixin.scss";

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem 4rem;
}

.initialNames {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  width: 12rem;
  border-top: 1px solid $primary-color;
  border-bottom: 1px solid $primary-color;
  font-size: 3rem;
  span:nth-child(odd) {
    font-size: 6rem;
  }
}

.optionsContainer {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: end;
  p {
    color: $primary-color;
    font-size: 1.3rem;
  }
}

@include phone {
  .container {
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
    padding: 0 4rem;
  }

  .optionsContainer {
    align-items: center;
    p {
      // font-size: 1rem;
    }
  }
}
