@import "./styles/variables.scss";
@import "./styles/mixin.scss";

@font-face {
  font-family: "Abel";
  src: url("./styles/fonts/Abel-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Akshar";
  src: url("./styles/fonts/Akshar-VariableFont_wght.ttf") format("truetype");
}

.App {
  text-align: center;
  min-height: 100vh;
  color: $primary-color;
  display: flex;
  justify-content: center;
  font-family: "Akshar", sans-serif;

  h1 {
    font-size: 2rem;
    margin: 0;
    font-weight: 500;
  }

  h2 {
    margin: 0;
    font-family: "Abel", sans-serif;
    font-weight: 400;
  }
  p,
  h2 {
    color: $secondary-color;
  }

  p {
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
    font-family: "Abel";
  }

  button {
    font-family: "Abel";
    font-size: 0.9rem;
  }
}

span {
  content: "\22C8";
}

@include phone {
  .container {
    width: 100%;
  }
}
@include tablet {
  .container {
    width: 100%;
  }
}
@include laptop {
  // .container {
  //   max-width: 1200px;
  // }
}
